.invoice {
  display: flex;
}

.container {
  display: flex;
  max-width: 1920px;
  border-radius: 10px;
  flex-direction: row;
  height: 97vh;
}



.invoiceContainer {
  flex: 5;
}

.tableContainer{
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}
table{
  border-radius: 10px;
  margin-top: 20px;
}
.description {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.header {
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.h3title {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 14px;
}

.ticketInfo {
  padding: 5px;
}

.button {
  padding: 8px 16px;
  background-color: #1d63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select{
  width: 100px;
}

textarea{
  width: 400px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input[type='file'] {
  border: none;
  padding: 5px;
}

textarea {
  height: 100px;
  padding: 5px;
  margin-right: 10px;
}

.post-container {
  background-color: #eaeaea;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment-container {
  flex: 7;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.comments{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.username {
  font-weight: bold;
}

.comment {
  margin-top: 5px;
  font-size: 12px;
  color: black;
}




.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
}

.tableCell {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableCellLabel {
  font-weight: bold;
}

.tableCellValue {
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #2d2d2ddd;
  color: white;
}

tr{
  background-color: #eaeaea;
}

.Open {
  background-color: orange;
}

.Resolved {
  background-color: rgb(0, 197, 53);
}

.Closed {
  background-color: red;
}
.In-Progress {
  background-color: skyblue;
}

.greenButton {
  background-color: rgb(0, 197, 53);
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 35px;
  color: white;
  cursor: pointer;
}

.redButton {
  background-color: #f44336;
  border-radius: 10px;
  border: none;
  width: 80px;
  height: 35px;
  color: white;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 980px) {

    .tableCell:nth-child(2),
    .tableCell:nth-child(3)
      {
      display: none;
    }

    textarea{
      width: 300px;
    }
}


@media (max-width: 580px) {
  .tableCell:nth-child(5){
    display: none;
  }
        .greenButton {
          width: 50px;
          height: 30px;
          margin-right: 10px;
        }
    
        .redButton {
          width: 50px;
          height: 30px;
        }
      
}

@media (max-width: 420px) {
      tr th:nth-child(4),
      tr td:nth-child(4) {
        display: none;
      }
}