.list {
    width: 100%;
    display: flex;
}
.listContainer {
    flex: 6;
}
.top,
.bottom {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
}

.button {
    padding: 8px 16px;
    background-color: #1d63ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

        