body{
    background-color: #002574;
    color: white;
}
.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    padding: 30px;
    background-color: #2F3C7E;
    width: 500px;


    .title {
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        color: white;

        .formInput {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 8px;
                border-radius: 4px;
                border: none;
                outline: none;
            }
        }

        .button {
            margin-top: 10px;
            width: 80px;
            padding: 8px 16px;
            background-color: #1D63FF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        a {
            margin-top: 10px;
            text-align: center;
            color: #007bff;
            text-decoration: none;
        }
        .register{
            margin-top: 10px;
        }
        .test-account{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-size: 12px;

        }
       
    }
}