body {
    background-color: #B6C1C9;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    height: 100vh;
}

.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    padding: 30px;
    background-color: white;
    width: 400px;
    border-radius:10px;
}

.title {
    font-size: 20px;
    margin-bottom: 16px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    color: black;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    color: black;
}

input {
    padding: 8px;
    border: none;
    outline: none;
}

.button {
    margin-top: 10px;
    width: 140px;
    height: 40px;
    padding: 8px 16px;
    background-color: #1D63FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.register {
    margin-top: 10px;
}

.test-account {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 12px;
}

.spanBtn{
    margin-left: 10px;
    color: #1D63FF;
    cursor: pointer;
}


@media screen and (max-width: 980px) {
    .authContainer{
        width: 300px;
    }
}